@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // line-height: normal;
  // line-height: 0px;
}

html[lang="ar"] {
  font-family: var(--font-expo);
}

html[lang="en"] {
  font-family: var(--font-poppins);
}

body {
  font-size: 1rem;
  // font-family: var(--font-poppins);

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    // box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: $gray-FA;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $primary;
    outline: 1px solid $primary;
  }
}

button,
input,
textarea,
select {
  font: inherit;
  background-color: transparent;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  border: none;
  outline: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

span {
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  // width: 6px;
}

body::-webkit-scrollbar-track {
  // box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  // background-color: $gray-50;
}

body::-webkit-scrollbar-thumb {
  // background-color: $primary;
  // outline: 1px solid $primary;
}
textarea::-webkit-scrollbar {
  width: 4px;
}

textarea::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
  background-color: $gray-EF;
}

textarea::-webkit-scrollbar-thumb {
  background-color: $primary;
  outline: 1px solid $primary;
}

// -----------------------------------------------------------------------
